/*selected video section*/
.selectedvideos-flex-link {
    margin: 0px 20px 80px 0px;
    color: var(--whitecolor);
    text-decoration: none;
}

.selectedvideos-flex-item {
    background-color: #222;
    width: 270px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.selectedvideos-flex-item-one {
    margin-left: 16px;
    font-size: 21px;
    font-weight: 700;
}

.selectedvideos-flex-item-two {
    margin: 15px 0px 15px 16px;
    font-size: 14px;
    color: rgb(226, 223, 223);
}

.selectedvideos-flex-item-bg {
    width: 240px;
    height: 320px;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
}

.cdial-flex-item-bg {
    background-image: url(../asset/cdial.png);
}

.cdialtwo-flex-item-bg {
    background-image: url(../asset/cdial2.png);
}

.vawick-flex-item-bg {
    background-image: url(../asset/vawick.png);
}

.swirly-flex-item-bg {
    background-image: url(../asset/swirly.png);
    background-position: center;
}

.season-flex-item-bg {
    background-image: url(../asset/season.png);
}

.fifa-flex-item-bg {
    background-image: url(../asset/fifa.png);   
}

.sat-flex-item-bg {
    background-image: url(../asset/sat.png);
}

.carousel-container {
    background-color: aqua;
    width: 270px;
    position: relative;
    margin: 0 auto;
}

.left-right-left {
    position: absolute;
    top: 200px;
    left: 30px;
    border-radius: 100%;
}

.left-right-right {
    position: absolute;
    top: 200px;
    right: 30px;
    border-radius: 100%;
}

#left-right i {
    cursor: pointer;
    padding: 10px 13px;
    font-size: 14px;
    color: var(--footerblackcolor);
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel {
    transition: all 0.3s ease;
}

.item {
    position: absolute;
    display: none;
  }
  
  .main {
    display: block;
  }

  
  .navigation .prev {
    position: absolute;
    /*z-index: 10;
    font-size: 25px;*/
    top: 200px;
    left: 10px;
    /*font-weight: 700;*/
  }
  .navigation .next {
    right: 10px;
    position: absolute;
    /*font-size: 25px;
    z-index: 10;*/
    top: 200px;
  }
  .navigation .nav-btn {
    cursor: pointer;
    /*border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);*/
  }
  .navigation .nav-btn:hover {
    /*background: white;*/
  }